/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.notoSerif-font{
    font-family: "Noto Serif", serif;
}

.inter-font {
  font-family: "Inter", sans-serif;
}
.roboto-font {
  font-family: "Roboto", sans-serif;
}
.bold{
    font-weight: bold;
}
/* colors */
.orange{
    color: #E95A08;
}
.light-black{
    color: hsla(0, 0%, 0%, 0.5);
}
.gray-500{
    color: #6B7280;
}
.light-gray{
    color: #8987A1;
}
.black{
    color: black;
}
.white{
    color: white;
}
/* common styles */
.flex{
    display: flex;
}
/* Main style */
html{
    background-color: #F5F8FF;
}
body{
    max-width: 1440px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 16px 30px;
    flex-direction: column;
    gap: 7.5em;
}
main{
    display: flex;
    flex-direction: column;
    gap: 7.5em;
}
/* Navigation */
nav{
    display: flex;
    width: 1140px;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto 0;

}
.logo img{
    height: 70px;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    font-size: 14px;

} 
.cart{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

/* hero section */
.hero-section{
    display: flex;
    flex-direction: row-reverse;
    max-width: 1140px;
    margin: 0 auto;
}
.hero-section img{
    height: 355px;
}
.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.title{
    font-size: 4em;
    font-weight: bold;
    font-family: "Noto Serif", serif;

}
.title span{
    color: #E95A08;
}
.description{
    font-size: 1.4em;
    font-family: "Inter", sans-serif;
}
/* Plant section */
.plant-section{
    text-align: center;
    max-width: 1140px;
    margin: 0 auto;
}
.card-container{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 2em;
    column-gap: 1em;
    justify-content: center;
    
}
.card-title, .card-price{
    font-size: 1.4em;
    margin: .4em 0;
}
.card-button{
    color: white;
    background-color: #E95A08;
    border: none;
    font-size: 1em;
    padding: 20px 80px;

}
/* responsive for mobile */
@media screen and (max-width:576px) {
    .logo img{
        height: 38px;
    }
    .hide{
        display: none;
    }
    .hero-section{
        flex-direction: column;
    }
}